name: lint

on:
  pull_request:
    branches:
      - master
      - develop
  push:
    branches:
      - master
      - develop

jobs:
  Linting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install eslint
        run: npm install --save-dev eslint
      - name: Run ESLint
        run: npx eslint . --ext .js --ignore-pattern node_modules/
