name: lint

on: 
 push:
   branches:
     lint_test

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install eslint
      run: npm install --save-dev eslint
    - name: Run ESLint
      run: npx eslint . --fix --ext .js,.jsx,.ts,.tsx --ignore-pattern node_modules/
